<div class="col-md-8 mx-auto">
  <%= render "event" %>

  <div class="mt-4">
    <% if @reviews.present? %>
      <h4 class="mb-3">レビュー</h4>
      <% @reviews.each do |review| %>
        <%= render "review", review: review, event: @event %>
      <% end %>
    <% end %>
  </div>

  <% if logged_in? %>
    <div class="mt-4">
      <% if current_user.review.nil? %>
        <h4 class="mb-3">レビューを投稿する</h4>
        <%= render "review_form" %>
      <% else %>
        <p class="text-muted">既にレビューを投稿済みです。</p>
      <% end %>
    </div>
  <% else %>
    <p class="text-center mt-4">レビューを投稿するには<%= link_to "ログイン", login_path %>してください。</p>
  <% end %>
</div>
