<h2 class="text-center mb-4">未開催イベント一覧</h2>

<h4 class="text-center mb-4">
  <%= link_to "開催済みのイベントはこちら", past_user_events_path(@users), class: "btn btn-outline-secondary" %>
</h4>

<div class="row justify-content-center">
  <% @events.each do |event| %>
    <%= render "shared/event_card", event: event %>
  <% end %>
</div>
