<h2 class="text-center mb-5">参加予定イベント一覧</h2>

<div class="row justify-content-center">
  <% if @join_events.present? %>
    <% @join_events.each do |event| %>
      <%= render "shared/event_card", event: event %>
    <% end %>
  <% else %>
    <div class="text-center">
      <p>参加予定のイベントがありません。寂しいですね〜。</p>
    </div>
  <% end %>
</div>
